.DatasetPageContainer {
    .headerText {
        border-bottom: 2px solid #e0e0e0;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    padding-bottom: 50px;
    .searchInput {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        background-color: #fff;
        outline: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .DisWiseChartContainer {
        display: flex;
        gap: 10px;
        width: 100%;

        overflow-x: auto;
        .chartContainer {
            width: 100%;
            height: calc(60vh - 150px);
            display: flex;
            overflow-y: auto;

            .chartRows {
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background-color: #fafafa;
                border: 1px solid #e0e0e0;
                align-items: center;
                padding-top: 20px;

                &:hover {
                    background-color: #fff;
                }

                .barHeight {
                    width: 80px;
                    cursor: pointer;

                    //hover
                    &:hover {
                        opacity: 0.5;
                    }
                }

                .lebel {
                    font-size: 12px;
                    font-weight: bold;
                    color: #000;
                    margin-bottom: 5px;
                    background-color: #fff;
                    width: 100px;
                    text-align: center;
                    border-top: 1px solid #e0e0e0;
                    height: 50px;
                }
            }
        }
    }
    // Pattern Frequency

    .CpFrequencyContainer {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        height: 700px;
        overflow-y: auto;
        border-bottom: 1px solid #e0e0e0;

        .CpFrequencyContainerRow {
            display: flex;
            gap: 10px;
            padding: 3px 0;

            &:hover {
                background-color: #fafafa;
                color: #000;
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 0;
            }

            .lebel {
                min-width: 280px;
                padding-right: 20px;
            }

            .row {
                background-color: aqua;
                color: #000;
            }
        }
    }
    .CpFrequencyContainer::-webkit-scrollbar {
        display: none;
    }
}
